dev/apertium-en-de/INSTALL
dev/apertium-en-de/Makefile
dev/apertium-en-de/Makefile.in
dev/apertium-en-de/aclocal.m4
dev/apertium-en-de/autom4te.cache
dev/apertium-en-de/config
dev/apertium-en-de/config.in
dev/apertium-en-de/config.log
dev/apertium-en-de/config.status
dev/apertium-en-de/configure
dev/apertium-en-de/de-en.autobil.bin
dev/apertium-en-de/de-en.autogen.bin
dev/apertium-en-de/de-en.automorf.bin
dev/apertium-en-de/de-en.autopgen.bin
dev/apertium-en-de/de-en.mode
dev/apertium-en-de/de-en.t1x.bin
dev/apertium-en-de/de-en.t2x.bin
dev/apertium-en-de/de-en.t3x.bin
dev/apertium-en-de/en-de.autobil.bin
dev/apertium-en-de/en-de.autogen.bin
dev/apertium-en-de/en-de.automorf.bin
dev/apertium-en-de/en-de.autopgen.bin
dev/apertium-en-de/en-de.mode
dev/apertium-en-de/en-de.t1x.bin
dev/apertium-en-de/en-de.t2x.bin
dev/apertium-en-de/en-de.t3x.bin
dev/apertium-en-de/install-sh
dev/apertium-en-de/missing
dev/apertium-en-de/modes
dev/apertium-en-de/stamp-h1
