* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-eng-deu.deu-eng.lrx -text
/apertium-eng-deu.deu-eng.t1x -text
/apertium-eng-deu.deu-eng.t2x -text
/apertium-eng-deu.deu-eng.t3x -text
/apertium-eng-deu.eng-deu.dix -text
/apertium-eng-deu.eng-deu.lrx -text
/apertium-eng-deu.eng-deu.t1x -text
/apertium-eng-deu.eng-deu.t2x -text
/apertium-eng-deu.eng-deu.t3x -text
/autogen.sh -text
/configure.ac -text
/deu-eng.prob -text
dev/apertium-de-en/AUTHORS -text
dev/apertium-de-en/apertium-de-en.de-en.dix -text
dev/apertium-en-de/AUTHORS -text
dev/apertium-en-de/Adjektiven.txt -text
dev/apertium-en-de/COPYING -text
dev/apertium-en-de/ChangeLog -text
dev/apertium-en-de/Makefile.am -text
dev/apertium-en-de/NEWS -text
dev/apertium-en-de/README -text
dev/apertium-en-de/TODO -text
dev/apertium-en-de/Verben -text
dev/apertium-en-de/WP_Data.txt -text
dev/apertium-en-de/apertium-en-de.de-en.t1x -text
dev/apertium-en-de/apertium-en-de.de-en.t2x -text
dev/apertium-en-de/apertium-en-de.de-en.t3x -text
dev/apertium-en-de/apertium-en-de.de.dix -text
dev/apertium-en-de/apertium-en-de.de.tsx -text
dev/apertium-en-de/apertium-en-de.en-de.dix -text
dev/apertium-en-de/apertium-en-de.en-de.t1x -text
dev/apertium-en-de/apertium-en-de.en-de.t2x -text
dev/apertium-en-de/apertium-en-de.en-de.t3x -text
dev/apertium-en-de/apertium-en-de.en.dix -text
dev/apertium-en-de/apertium-en-de.post-de.dix -text
dev/apertium-en-de/apertium-en-de.post-en.dix -text
dev/apertium-en-de/autogen.sh -text
dev/apertium-en-de/configure.ac -text
dev/apertium-en-de/de-en-unsupervised.make -text
dev/apertium-en-de/de-en.prob -text
dev/apertium-en-de/de-tagger-data/README -text
dev/apertium-en-de/en-de-unsupervised.make -text
dev/apertium-en-de/en-de.prob -text
dev/apertium-en-de/en-nouns -text
dev/apertium-en-de/en-tagger-data/README -text
dev/apertium-en-de/modes.xml -text
dev/apertium-en-de/texts/story.deu.txt -text
dev/apertium-en-de/texts/story.eng.txt -text
dev/apertium-en-de/wordmirror/WordMirror.py -text
dev/apertium-en-de/wordmirror/printnounxml.py -text
dev/story.deu.txt -text
dev/story.eng.txt -text
dev/testvoc/inconsistency-summary.sh -text
dev/testvoc/inconsistency.sh -text
dev/testvoc/testvoc.sh -text
/eng-deu.prob -text
/modes.xml -text
/regression-tests.sh -text
t/README.org -text
t/config.sh -text
t/config.sh.in -text
t/pending-tests -text
t/regression-tests -text
t/update-latest -text
t/wiki-tests -text
